
.section{
    margin-top:30px;
    border:solid 1px;
}

.getwh {
    width:300px;
    height:200px;
    background-color: cadetblue;
    border: solid 1px;
    margin-top:30px;
}

.getparent-lg{
    width:300px;
    height:200px;
    background-color:coral
}

.getparent-nm {
    background-color:darkgrey;
    width: 200px;
    height: 100px;
}

.getparent-sm {
    background-color:green;
    width: 100px;
    height: 50px;
}

.getparent-btn{
    
    right:1%;
    bottom:1%;
}
